<%- include("../partials/head.ejs") %>
    <body class="">
        <div class="container-fluid container-responsive">
            <div class="row">
                <div class="col-2">
                    <%- include('../partials/aside.ejs')%>
                </div>
              <div class="col-10">
                <%- include("../partials/header.ejs")%>
              </div>
            </div>
            <%- include('../partials/cdn.ejs') %>
    </body>